<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>


    <% require 'pg' %>

    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>


    <% result = connection.exec("select date, weight, give_for from crops where not (give_for = '自家消費');") %>
    <% notself = [] %>

    <% result.each do |record| %>
      <%  notself << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>


    <% result = connection.exec("select date, weight, give_for from crops where quality =false;") %>
    <% notquality = [] %>

    <% result.each do |record| %>
      <%  notquality << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>



    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、ゴーヤの大きさと売った相手の情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= notself.join(' ') %>">
      <input type="submit" name="送信" >
    </form>


    <form action="goya.cgi" method="POST">
       下記のボタンを押すと、ゴーヤの大きさと売った相手の情報ページに飛びます<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= notquality.join(' ') %>">
      <input type="submit" name="送信" >
    </form>

  </body>
</html>
